template(name='messageContainer')
  div(class='row')
    div(class='col-lg-2 panel')
      div(class='panel-heading') CHANNELS
      div(class='channels panel-body') 
        div YCombinator
        div Reddit
        div Hipmunk
    div(class='col-lg-10 panel')
      div(class='panel-heading') MESSAGES
      div(class='messages panel-body')
        div(class='row')
        each messages
          div(class='header')
            span(class='userName') #{ userId }
            div(class='commentary') #{ message }
        div(class='row')
          div(class='col-lg-1 plusNoPadding')
            span(class="input-group-btn ")
              button(class="btn btn-default" type="button") +
          div(class='col-lg-8 noPadding')
            span
              input(id='msg' type="msg" class="form-control")
          div(class='col-lg-1 noPadding')
            span
              input(id='submit' type='submit' value='submit' class='btn btn-primary')