template(name='addToProfile')
  form(class='col-lg-6')
    div(class="form-group")
      label(for="exampleInputEmail1") Username
      input(type="username" class="form-control" id="inputUsername" placeholder="Username")