template(name="nav")
  nav(class="navbar navbar-default")
    div(class="container-fluid")
      ul(class='nav navbar-left')
        li 
          img(class='logo' src='/images/tie.jpg')
      ul(class="nav navbar-nav navbar-right")
        li(span class='login') {{> loginButtons align='right'}}
        li(a href="#") Link